doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js')
    script(src='/javascripts/myapp.js')
    script(src='/javascripts/controller.js)
  body(ng-controller='myController')
  h1 {{jsVariable}}
